body{
  background-color: #AFBFC0;
}

.container{
 width: 95%;
 height: 100vh;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.counter{
  border: 5px solid #56494C;
  width: 600px;
  height: 350px;
  margin: auto;
  text-align: center;;
  background-color: rgba(255, 255, 255, 0.914);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter h1{
  font-size: 3rem;
}

#count{
  font-size: 9rem;
}